:root {
  --font-mono: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono';

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html,
body {
  margin: 0.5%;
  overflow-x: hidden;
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

span{
  margin-top: 5%;
  font-weight: 600;
}

button{
  box-shadow: 3px 3px #888888;
  cursor: pointer;
  border-radius: 6px;
  width: 12%;
  height: 37px;
  background-color: white;
  color: #97D5B1;
  border-style: solid;
  border-color: #97D5B1;
  font-weight: 600;
}

button:hover {
  background-color: green;
  color: white;
}

img{
  margin-top: 4%;
  width: 80%;
}

.description{ 
  position: relative;
  top: 90px;
}